
/*
fonts = blaq bold book light medium thin ultra xlight
fontfaces(gotham, fonts, ttf)

fonts = bold boldalt light lightalt medium mediumalt thin thinalt titling
fontfaces(neutradisplay, fonts, ttf)

fonts = bold demi
fontfaces(neutratext, fonts, ttf)
*/
