header
  desktop()
  padding 20px 50px
  > .logo
    float left
    width 300px
    height 150px
  > .menu
    float right
    margin 50px 0 0 0
    font: f.copy2
    > .option
      cursor pointer
      float left
      padding 10px
      margin 0 0 0 10px
      text-align center
      text-transform uppercase
      color: c.gold1
      transition border 2s linear
      &:hover
        border-bottom: 2px solid c.gold1
